body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardh{
    justify-content: center;
    align-items: center;
    background: linear-gradient(130deg,rgb(194, 97, 144),rgb(41, 71, 113));
}
